// ==UserScript==
// @name					Checkin Style CSS
// @namespace			revival.com
// @version				0.2.6
// @description		MP Checkin Suite extension
// @author				River Church
// @match					https://mp.revival.com/checkin*
// @icon					https://mp.revival.com/checkin/content/images/app-logo.png
// @updateURL			https://raw.githubusercontent.com/riveruniversity/mp-checkin/main/src/style.user.css
// @downloadURL		https://raw.githubusercontent.com/riveruniversity/mp-checkin/main/src/style.user.css
// @inject-into 	page

// @grant 				none
// ==/UserScript==


/**/
:root {
  --white: #fff;
  --yellow: #ffdd57;
  --ru-yellow: #d6a329;
  --ru-blue: #0f3952;
  --ru-grey: #9d9d9d;
  --ru-gold: #dba409;
  --light-grey: #e2e2e2;
  --lighter-grey: #f7f6f4;
  --medium-grey: #cacaca;
  --darker-grey: #999;
  --dark-grey: #3f3f3f;
  --warn: #ffc107;
  --flagged: #d29602;
  --error: #e15757;
  --error-strong: #dc3545;
}
